<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style-about.css">
    <title>Document</title>
</head>
<body>
    <%- include ('blocks/header.ejs') %>
    <div class="block">
        <h1>О нас</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit dolore ut eius, eos, placeat dolores totam laudantium illo fugit eligendi itaque doloremque qui provident officiis, nesciunt amet laboriosam dignissimos dicta eum earum. Iure consequatur perferendis beatae, recusandae eligendi ut obcaecati aperiam inventore cumque praesentium voluptates mollitia hic, provident maiores possimus illum laudantium quam, dolorem odio sit libero quas pariatur. Expedita aspernatur placeat aliquam eos beatae doloribus ad ea pariatur est accusamus qui consequatur deleniti at quod consequuntur, dolorum dicta facilis labore cum minus. Delectus dolores eos eaque, maiores facilis, aut vel laboriosam veritatis ratione quia tempora fuga cumque illum error!</p>
    </div>
</body>
</html>