<div class="header">
    <a href="/">Главная</a></li>
    <a href="/login">Авторизация</a></li>
    <a href="/about">Про нас</a></li>
    <a href="/news/новости">Новости</a></li>
</div>


<style>
    a {
        text-decoration: none;
    }

    .header {
        display: flex;
        justify-content: center;
        background: darkslategray;
    }

    .header a {
        padding: 10px 105px;
        color: burlywood;
    }

    .header a:hover {
        text-decoration: line-through;
    }
</style>